/*
 * GitPitch Custom CSS Styling
 *
 * For details, visit Wiki:
 * https://github.com/gitpitch/gitpitch/wiki/Slideshow-Custom-CSS
 */

#gp-logo img {
  max-height: 1.5em;
  max-width: none;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

.reveal h5 {
  font-size: 0.7em;
}

.reveal h6 {
  font-size: 0.4em;
}

.reveal pre {
  width: 100%;
  box-shadow: none;
}

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  max-height: 55vh !important;
  border-radius: 10px;
}

.reveal .slide-number {
  color: #fff !important;
}

#title-footer {
  background: transparent;
}

#title-footer #notification {
  color: #fff;
}
